  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');
  * {
    box-sizing: border-box;
  }
  body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  main.page {
    margin-left: 0px;
    margin-right: 0px;
  }
  main {
    display: block;
  }
  .page {
    overflow: hidden;
  }
  .page-header {
    margin-left: 112px;
    margin-right: 112px;
  }
  .nav-header {
    font-size: 14px;
    line-height: 1.21428571;
    font-family: "Raleway", "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .75px;
    word-spacing: 1.25px;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
  }
  .nav-header a {
    text-decoration: none;
    color: #000;
  }

  .nav-header .arrow {
    color: #222;
    margin: 0 10px;
    font-size: 12px;
    vertical-align: middle;
  }

  .blue-text {
    color: #63aaff;
  }

  .page-feature {
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    margin: 40px 0;
  }

  .page-divider {
    border: none;
    height: 4px;
    background-color: #3772D8;
    width: 100%;
    border-radius: 2px;
  }

  .page-row {
    display: flex;
    gap: 40px;
    margin-left: 112px;
    margin-right: 112px;
  }

  .page-container {
    flex: 3;
  }

  .page-content {
    width: 97.91666667%;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }

  .typography {
    font-size: 25px;
    line-height: 1.6;
    font-family: yale, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    font-weight: 200;
    margin-top: 15px;
  }

  .intro {
    line-height: 1.33333333;
    font-family: yale, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    color: #222;
  }

  .intro p {
    font-size: 24px;
    margin: 1em 0;
  }

  .description {
    line-height: 1.6;
    font-family: "Raleway", "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
  }

  .d1 p, .d2 p {
    margin: 22px 0;
  }

  .ceo{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin: 60px 0;
    border-bottom: 2px solid #ccc;
    padding-bottom: 50px;
  }

  .pic-container {
    flex: 0 0 300px;
    display: flex;
    align-items: flex-end;
    margin: 0;
  }

  .ceo-pic {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
  }

  .ceo-des {
    flex: 1;
  }

  .ceo-name{
    margin: 0 0 10px;
    color: #00356b;
    font-size: 1.625rem;
    line-height: 1.2;
    font-family: "Times New Roman", Times, Georgia, serif;
    font-weight: 300;
    white-space: nowrap;
  }

  .des-ceo {
    font-size: 1.125rem;
    line-height: 1.6;
    font-family: "Raleway", "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -.1px;
  }

  .title {
        color: #4a4a4a;
        font-size: .875rem;
        line-height: 1.4;
        font-family: kanit;
        font-weight: 400;
        font-style: italic;
        letter-spacing: .5px;
        margin: 4px 0 0;
        position: relative;
    }

@media (max-width: 768px) {
  main.page {
    margin-left: 80px;
    margin-right: 80px;
  }

  .page-header, .page-row {
    margin-left: 0;
    margin-right: 0;
  }

  .page-row {
    flex-direction: column;
    gap: 20px;
  }

  .page-container {
    order: 1; /*kani dili na flex; none*/
    width: 100%;
  }

  .page-content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .ceo {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    padding-bottom: 30px;
  }

  .pic-container {
    flex: 0 0 40%;
  }

  .ceo-pic {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .ceo-des {
    flex: 1;
  }

  .typography {
    font-size: 24px;
    line-height: 1.4;
  }

  .intro p, .description p {
    font-size: 18px;
    line-height: 1.4;
  }


  .nav-header {
    font-size: 12px;
  }

  .page-divider {
    position: relative;
    left: 0;
    right: 0;
    width: 100vw;
    margin-left: calc(-1 * (100vw - 100%)/2);
  }
}

@media (max-width: 480px) {
  .ceo {
    flex-direction: column;    
    align-items: center;       
    text-align: center;      
    gap: 10px;
  }

  main.page {
    margin-left: 40px;
    margin-right: 40px;
  }

  .ceo-des {
    width: 100%;
  }

  .typography {
    font-size: 20px;
  }

  .intro p, .description p {
    font-size: 16px;
  }

  .ceo-name h2 {
    font-size: 1.2rem;
    line-height: 1.2;
    white-space: normal;
  }

  .ceo-pic {
     width: 100%;
    height: auto;
    object-fit: cover;
  }

  .page-divider {
    position: relative;
    left: 0;
    right: 0;
    width: 100vw;
    margin-left: calc(-1 * (100vw - 100%)/2);
  }

  .page-container {
    width: 100%;
    max-width: 280px;
  }

}
