.city-pic {
    width: 100%;
    height: 200px;        
    object-fit: contain;
    display: block;
    }

.article-schools {
    display: flex;
    align-items: flex-start;  
    gap: 30px;
    margin: 30px 0;
    border-bottom: 5px solid #ccc;
    padding-bottom: 50px;
    cursor: pointer;
}

.schools {
    margin-top: 15px;
    padding: 10px;
    border-left: 3px solid #0073e6;
}

.hidden {
    display: none;
}

.school {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;

    transform-origin: left center;
}

.school-header {
  display: flex;
  align-items: center;
  gap: 15px;
}


.school-logo {
    width: 60px;
    height: auto;
}

.school-details h3 {
    margin: 0 0 8px 0;
    font-size: 18px;
    color: #34448C
}

.hidden-details {
  display: none; 

  background: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  margin-top: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.school.active .hidden-details {
  display: block;
}

.school.active {
    transform: scaleX(1.1);
    z-index: 2;            
}

.scholarship {
  margin-bottom: 20px;
}


.scholarship-title {
  background: #1a3d7c; 
  color: white;
  padding: 14px 18px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.scholarship-content {
  padding: 10px 20px;
  font-size: 15px;
  line-height: 1.6;
}

.scholarship-content ul {
  margin: 10px 0;
  padding-left: 20px;
}


.apply-btn {
  display: block;
  margin: 20px auto 0;
  padding: 12px 30px;
  font-size: 16px;
  background: #1a3d7c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.apply-btn:hover {
  background: #174080;
}

.back-arrow {
  margin-left: auto;
  margin-right: 20PX;
  font-size: 22px;
  cursor: pointer;
  color: #34448C;
  display: none; 
}

/* Show only when active */
.school.active .back-arrow {
  display: inline-block;
}

/* media queries */
    /* tablet */
        @media (max-width: 1024px) {
            .article-schools {
                flex-direction: column;   
                align-items: center;     
                gap: 20px;               
                padding-bottom: 30px;
            }

            .school {
                flex-direction: row;      
                width: 90%;               
            }

            .school-logo {
                width: 50px;            
            }

            .school-details h3 {
                font-size: 16px;          
            }
        }
        /* mobile */
            @media (max-width: 576px) {
                .article-schools {
                    flex-direction: column;
                    align-items: stretch;    
                    gap: 15px;
                    padding-bottom: 20px;
                }

                .school {
                    flex-direction: column; 
                    align-items: center;
                    text-align: center;
                    width: 100%;
                }

                .school-logo {
                    width: 40px;            
                    margin-bottom: 10px;
                }

                .school-details h3 {
                    font-size: 16px; 
                }

                .city-pic {
                   display: none;
                }

                .scholarship-title h2 {
                  font-size: 16px;
                }

                .scholarship-content{
                  text-align: left;
                  display: inline-block;
                  padding-left: 0px;
                }
            }