@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main.page {
  margin-left: 0px;
  margin-right:0px;
}

main {
  display: block;
}

.page {
  overflow: hidden;
}

.page-header {
  margin-left: 112px;
  margin-right: 112px;
}

.nav-header {
  font-size: 14px;
  line-height: 1.21428571;
  font-family: "Raleway", "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: .75px;
  word-spacing: 1.25px;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}

.nav-header a {
  text-decoration: none;
  color: #000;
}

.nav-header .arrow {
  color: #222;
  margin: 0 10px;
  font-size: 12px;
  vertical-align: middle;
}

.blue-text {
  color: #63aaff;
}

.page-feature {
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
  margin: 40px 0;
}

.page-divider {
  border: none;
  height: 4px;
  background-color:#3772D8;
  width: 100%;
  border-radius: 2px;
}

.page-row {
  display: flex;
  gap: 40px;   
  margin-left: 112px;
  margin-right: 112px;
}

.page-container {
  flex: 3;
}

.page-content {
  width: 97.91666667%;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 20px;
}

.typography {
  font-size: 20px;
  line-height: 1.6;
  font-family: yale, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  font-weight: 200;
  margin-top: 15px;
}

.intro {
  line-height: 1.33333333;
  font-family: yale, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  color: #222;
}

.intro p {
  font-size: 24px;
  margin: 1em 0;
}

.description {
  line-height: 1.6;
  font-family: "Raleway", "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.d1 p {
  margin: 22px 0;
}

.d2 p {
  margin-top: 22px;
  margin-bottom: 44px;
}

.article {
  display: flex;
  align-items: flex-start;  
  gap: 30px;
  margin: 30px 0;
  border-bottom: 2px solid #ccc;
  padding-bottom: 50px;
  cursor: pointer;
}

.pic-container {
  flex: 0 0 300px;     
  display: flex;
  align-items: flex-end;
  margin: 0;       
}

.art-pic {
  width: 100%;
  height: 200px;        
  object-fit: cover;
  display: block;
}

.art-des {
  flex: 1;             
}

.art-title {
  margin: 0 0 10px;
  color: #00356b;
  font-size: 22px;
  line-height: 1.2;
  font-family: "Times New Roman", Times, Georgia, serif;
  font-weight: 200;
  white-space: nowrap;
}

.art-title:hover {
  color: #0073e6;
}

.des-art {
  font-size: 1.125rem;
  line-height: 1.6;
  font-family: "Raleway", "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -.1px;
}

.sub-nav {
  flex: 0 0 250px;
  margin: 0;
}

.sub-container {
  margin: 40px 0;
  position: relative;
  padding-right: 20px;
}

.subs {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
}

.subs a {
  text-decoration: none;
  color: #222;
  font-size: 1.5rem;
  line-height: 1.4;
  font-family: yale, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  display: block;
  text-align: left;
  margin-left: 30px;
  white-space: nowrap;
}

.sub-container::before,
.sub-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 1px;
  background-color: #ccc;
  margin: 15px;
}

.subs:not(:last-child)::after {
  content: "";
  display: block;
  width: 120%;
  height: 1px;
  background-color: #ddd;
  margin: 15px;
}

/* meadia questies */
  /* tablet */
  @media (max-width: 768px) {
    main.page {
      margin-left: 80px;
      margin-right: 80px;
    }

    .page-header,
    .page-row {
      margin-left: 0;
      margin-right: 0;
      gap:10px
    }

    .page-row {
      flex-direction: column;
      gap: 10px;
    }

    .page-container,
    .sub-nav {
      flex: none;
      width: 100%;
    }

    .page-content {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .article {
      flex-direction: column;
      gap: 20px;
          /* margin-bottom: 40px; */
      padding-bottom: 30px;
      margin-bottom: 0px;
    }

    .pic-container {
      flex: none;
      width: 100%;
      display: block;
      align-items: center;
    }

    .art-pic {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .art-des {
      flex: none;
      width: 100%;
    }

    .typography {
      font-size: 24px;
      line-height: 1.4;
    }

    .intro p,
    .description p {
      font-size: 18px;
      line-height: 1.4;
    }

    .subs {
      padding: 8px 0;
      text-align: left;
    }

    .subs a {
      text-align: left;
      margin-left: 10px;
      display: block;
      font-size: 1.35rem;
    }

    .sub-container::before,
    .sub-container::after,
    .subs:not(:last-child)::after {
      width: 100%;
      margin: 8px auto;
    }

    .nav-header {
      font-size: 12px;
    }

    .nav-header a,
    .nav-header .arrow {
      display: inline-block;
    }

    .page-divider {
      position: relative;
      left: 0;
      right: 0;
      width: 100vw;
      margin-left: calc(-1 * (100vw - 100%)/2);
    }

    .sub-container{
      margin-top: 0px;
      padding-right: 0px;
    }
  }

    /* mobile */
    @media (max-width: 480px) {

      main.page{
        margin-left: 40px;
        margin-right: 40px;

      }
      .typography {
        font-size: 16px;
      }

      .intro p{
        font-size: 18px;
      }
      .description p {
        font-size: 15px;
      }

      .subs a {
        font-size: 1.2rem;
        text-align: left;
        margin-left: 10px;
        display: block;
      }

      .page-content {
        padding-right: 0px;
      }

      .sub-container {
        margin-top: 0px;
      }

      .des-art {
        font-size: 1rem;
      }

      .page-row{
        gap:15px;
      }

      .sub-container::before,
      .sub-container::after,
      .subs:not(:last-child)::after {
        width: 100%;
        margin: 6px auto;
      }

      .art-title h2 {
        font-size: 1.4rem;
        line-height: 1.2;
        white-space: normal;
      }

      .art-pic {
        width: 100%;
        height: 180px;
        object-fit: cover;
      }

      .page-divider {
        position: relative;
        left: 0;
        right: 0;
        width: 100vw;
        margin-left: calc(-1 * (100vw - 100%)/2);
      }
    }