@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.blue-line {
  background-color: rgb(28, 52, 124);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 40px;
  box-sizing: border-box;
}

.blue-line h1 {
  color: #f8f8f8;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 30px; 
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-left: 4px solid #d4af37;
  padding-left: 15px;
}



main.page {
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.page {
  overflow: hidden;
}


.page-header {
  margin-left: 0px;
  margin-right: 112px;
}

.nav-header {
  font-size: 14px;
  line-height: 1.214;
  font-family: "Raleway", "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: .75px;
  word-spacing: 1.25px;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}

.nav-header a {
  text-decoration: none;
  color: #000;
}

.nav-header .arrow {
  color: #222;
  margin: 0 10px;
  font-size: 12px;
  vertical-align: middle;
}

.blue-text {
  color: #63aaff;
}


.page-feature {
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
  margin: 40px 0;
}


.page-row {
  display: flex;
  gap: 40px;
  margin-left: 112px;
  margin-right: 112px;
}

.page-container {
  flex: 3;
}

.page-content {
  width: 97.9166%;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.typography {
  font-size: 25px;
  line-height: 1.6;
  font-family: yale, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-weight: 200;
  margin-top: 15px;
}

.page-divider {
  width: 100%;
  height: 4px;
  background-color: royalblue;
  margin: 10px 0 25px 0;
}

.typography h1 {
  color: #00356b;
  font-weight: 600;
}

.typography p {
  color: #222;
}

.des-ceo {
  font-size: 1.125rem;
  line-height: 1.6;
  font-family: "Raleway", "Lato", "Gill Sans", "Gill Sans MT", Calibri, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -.1px;
}

.des-ceo p {
  margin-bottom: 10px;
}

.des-ceo ul {
  padding-left: 1.5rem;
}

.des-ceo li {
  margin-bottom: 0.5rem;
}

.ceo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin: 60px 0;
  border-bottom: 2px solid #ccc;
  padding-bottom: 40px;
}

.ceo-des {
  flex: 1;
}

.ceo-name {
  margin: 0 0 10px;
  color: #00356b;
  font-size: 1.625rem;
  line-height: 1.2;
  font-family: "Times New Roman", Times, Georgia, serif;
  font-weight: 300;
}


@media (max-width: 768px) {
  .page-header,
  .page-row,
  .nav-header {
    margin-left: 100px;
    margin-right: 100px;
  }

  .page-divider {
    margin-left: 0px;
  }

  .page-header {
    margin-left: -100px;
  }

  .page-row {
    flex-direction: column;
    gap: 20px;
  }

  .page-container {
    width: 100%;
  }

  .page-content {
    width: 100%;
    margin: 0;
  }

  .ceo {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    padding-bottom: 30px;
  }

  .typography {
    font-size: 22px;
    line-height: 1.4;
  }

  .des-ceo {
    font-size: 1rem;
  }

  .nav-header {
    font-size: 12px;
    text-align: left;
  }

}

@media (max-width: 480px) {
  .ceo {
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;       
  }

  .typography {
    font-size: 20px;
    text-align: left;       
  }

  .des-ceo {
    font-size: 0.95rem;
    text-align: left;       
  }

  .ceo-name h2 {
    font-size: 1.2rem;
    white-space: normal;
    text-align: left;        

  .page-row {
    margin: 0 20px;
  }

  .page-container {
    width: 100%;
  }

  }

  @media (max-width: 430px) {
    .blue-line h1 {
      font-size: 15px;
    }

    .blue-line {
      padding-left: 20px;
    }

    .typography h1 {
      font-size: 30px;
    }

    .typography p {
      font-size: 18px;
    }
  }
}

